<td>
  <%= link_to user.email, user %>
</td>
<td>
  <% if (current_user.admin? and user != current_user) %>
   <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button-xs') %>
  <% end %>
</td>
