<div class="authform">
  <%= form_for @user, :url => users_manual_path, :html => {:method => :post} do |form| %>
    <h3>Create User</h3>
    <%= render form %>
    <%= form.submit 'Create', :class => 'button right' %>
  <% end %>
</div>