<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if current_user.admin? %>
  <p>Roles: <%= @user.map_available_roles.join(',') %></p>
<% end %>
<%= link_to('Edit', edit_user_path(@user), :class => 'button-xs') %>