%p
  %b Message:
  = @inquiry_reply.message
%p
  %b From:
  - realtor = User.find @inquiry_reply.realtor_id
  = realtor.name

- if current_user.admin? or @inquiry_reply.realtor_id == current_user.id
  = link_to 'Destroy', inquiry_reply_url(@inquiry_reply), :method => :delete
