%h1 Listing inquiries

%br

- if current_user.househunter? and params[:house_id].nil?
  %h2 Sent Inquiries

  = render 'list', :can_edit => true, :inquiries => @sent_inquiries

  %br

- if current_user.realtor?
  %hr
  %h2 Received Inquiries

  = render 'list', :can_edit => current_user.admin?, :inquiries => @received_inquiries