%h1 Listing inquiries

%br

- if current_user.househunter?
  %h2 Send Inquiries

  - render 'list', :can_edit => true, :inquiries => @sent_inquiries

  %br

%hr

- if current_user.realtor?
  %h2 Received Inquiries

  - render 'list', :can_edit => false, :inquiries => @received_inquiries

  %br
