<%# add navigation links to this file %>
<a class='nav-item nav-link'><%= link_to 'Companies', companies_path, class: 'nav-link' %></a>
<a class='nav-item nav-link'><%= link_to 'Houses', houses_path, class: 'nav-link' %></a>
<a class='nav-item nav-link'><%= link_to 'Inquiries', inquiries_path, class: 'nav-link' %></a>