-# navigation styled for Bootstrap 3.0
.container
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    = link_to "House Hunter", root_path, class: 'navbar-brand'
    %button.navbar-toggler{:data => {:toggle =>'collapse', :target => '#navbarNavAltMarkup', :controls => 'navbarNavAltMarkup', :expanded =>'false', :label => 'Toggle navigation' } }
      %span.navbar-toggler-icon
    %div.collapse.navbar-collapse#navbarNavAltMarkup
      %div.nav.navbar-nav= render 'layouts/navigation_links'
      %div.nav.navbar-nav= render 'layouts/nav_links_for_auth'
